@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
}

.logo{
    color: rgb(235, 222, 222);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;

    a{
        color: rgb(235, 222, 222);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }

    li{
        list-style: none;
    }
}

.burger{

    display: none;

    div{
        width: 25px;
        height: 3px;
        background-color: rgb(235, 222, 222);
        margin: 5px;

    }
}


body, html{
    overflow-x: hidden;
    position: relative;
}

@media screen and (max-width:768px) {
    

    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s ease-out;

        li{
            opacity: 0;
        }
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .nav-active{
        transform: translateX(0%);
    }

    
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }
    
}